* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

a {
    text-decoration: none;
    color: white;
}

    /* estilização do header */
header {
    display: flex;
    width: 100vw;
    height: 150px;
    border-bottom-style: solid;
    border-bottom-width: 15px;
    border-color: #51270f;
    color: #51270f;
    justify-content: space-around;
    align-items: center;
}

header > h1 {
    font-size: 50px;
    font-family: 'PT Serif', serif;
}

.container-botoes-navegacao {
    color: #51270f;
    background-color: white;
    border-color: #51270f;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
}

.container-botoes-navegacao:hover {
    background-color: #51270f;
    color: white;
}

/* estilização do main */

.imagem-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#estilo-logo {
    width: 300px;
    height: 300px;
    margin: 20px 0 50px;
}

.botoes-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.estilo-botoes-main {
    background-color: #51270f;
    width: 200px;
    height: 150px;
    margin: 0 20px 50px;
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.estilo-botoes-main:hover {
    background-color: lightgray;
    color: #51270f;
    border-style: solid;
    border-width: 5px;
    border-color: #51270f;
}

    /* estilização do footer */
footer {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #51270f;
    color: lightgray;
    height: 100px;
}

footer > p {
    font-size: 15px;
}

.container-navegacao-footer {
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-size: 14px;
}

.container-icones-footer {
    width: 30px;
    height: 30px;
    margin: 10px;
}

/* estilização para iphone 6/7/8 */

@media only screen and (min-width: 375px) and (max-width: 600px){
    
    header {
        width: 100vh;
        height: 100%;
    }


    .container-botoes-navegacao {
        display: grid;
        width: 100%;
    }

    .imagem-logo {
        display: flex;
        justify-content: space-between;
    }

    .botoes-main {
        display: grid;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    footer {
        width: 100vh;
        height: 250px;
    }
}